
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans+JP:wght@100..900&display=swap');
body {
    background-color: #f0e5d4;
    font-family: EB Garamond;
    font-size: x-large;
    color: #b0b59a;
    max-width: 1000px;
    margin: auto;

}

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: #b9d0d3;
    padding: 20px;
    margin: 0px;
    overflow: hidden;
    border-radius: 10px;
}

.navbar a{
    color: #eae9e8;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}

.navbar a:hover{
    background-color: #b0c5c8;
    border-radius: 5px;
}

.navbar li{
    float:left;
}