
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap');
body {
    background-color: #f0e5d4;
    font-family: "Indie Flower", cursive;
    font-size: x-large;
    font-style: normal;
    color: #8e917d;
    max-width: 1000px;
    margin: auto;
    background-image: url("sand.jpg");
    background-size: 1200px;


}

p{
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.navbar ul{
    list-style-type: none;
    background-color:  #e7c6bf;
    padding: 15px;
    margin: 20px;
    overflow: hidden;
    border-radius: 9px;
    box-shadow: 4px 4px 4px;
    opacity: 0.9;
}

.navbar a{
    color: #fffdfb;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    opacity: 1;

}

.navbar a:hover{
    background-color: #d1b2ac;
    border-radius: 5px;
}

.navbar li{
    float:left;
}




.button-1 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-1:hover,
  .button-1:focus {
    background-color: #F082AC;
  }

  form{
    text-align: center;
  }
  
  .thicky {
    background-color: #b2ccd0;
    padding: 9px;
    box-shadow: 3px 3px 3px;
    border-radius: 10px;
    
}



